@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@200;400;600;700;800&display=swap');

/* Common shared styles */
* {
    /* margin: 0; */
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.common-text {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    background: #F15B22;
    padding: 22px;

}
.common-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

/* header styles */
header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 910px;
}

header .banner {
    text-align: end;
    padding: 200px 200px 0 0;
    display: flex;
    gap: 25px;
    align-items: end;
    flex-direction: column;
}


header .banner .banner-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    max-width: 525px;
    margin: 0;
}

header .banner .banner-description {
    max-width: 500px;
    margin: 0;
    text-align: right;
}

/* My failure section styles */
.failure-container {
    display: flex;
    gap: 250px;
    align-items: center;
    justify-content: center;
    padding: 150px 230px;
}

.failure-container .failure-me img {
    width: 100%;
}

.failure-container .failure-items .failure-title {
    max-width: 288px;
    margin-bottom:25px;
}

.failure-container .failure-items .failure-description{
    max-width:416px;
    /* margin: 0; */
}

.failure-container .failure-items ul{
    list-style:none;
    display:inline;
}

.failure-container .failure-items ul li i{
    color:#16D887;
}
